* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --line-border-fill: #3498db;
    --line-border-empty-fill: #e0e0e0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Mulish", sans-serif;

    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;

    max-width: 100%;
    width: 400px;

    margin-bottom: 30px;
}

.progress-container::before {
    content: "";

    background-color: var(--line-border-empty-fill);

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    width: 100%;
    height: 4px;

    z-index: -1;
}

.progress {
    background-color: var(--line-border-fill);

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    height: 4px;
    width: 0%;

    z-index: -1;

    transition: all 400ms ease;
}

.circle {
    background-color: white;
    color: #999;

    border-radius: 50%;
    border: solid 3px var(--line-border-empty-fill);

    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 400ms ease;
}

.circle.active {
    border-color: var(--line-border-fill);
    background-color: var(--line-border-fill);
    color: white;
}

.btn {
    background-color: #3498db;
    color: white;

    border: none;
    border-radius: 6px;

    cursor: pointer;

    font-family: inherit;
    font-size: 14px;

    padding: 8px 30px;
    margin: 5px;

    transition: all 400ms ease;
}

.btn:hover:not(:disabled) {
    transform: scale(0.95);
}

.btn:focus {
    outline: none;
}

.btn:disabled {
    background-color: var(--line-border-empty-fill);
    cursor: not-allowed;
}
