* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;

    overflow: hidden;

    font-family: "Ubuntu", sans-serif;
}

.bg {
    background: url("https://images.unsplash.com/photo-1552083375-1447ce886485?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80")
        no-repeat center center/cover;
    filter: blur(0px);

    position: absolute;
    top: -30px;
    left: -30px;

    width: calc(100% + 60px);
    height: calc(100vh + 60px);

    z-index: -1;
}

.loading-text {
    font-size: 50px;
    color: #fff;
    text-align: center;
}
